boost=1.74
cgal=5.4
cmake
draco
ffmpeg
gdal=3.5
jupyterlab
laszip
matplotlib=3.5
mysql=8.0
numpy=1.22
opencv=4.5
openmp=8.0
pcl=1.12
pdal=2.4
psutil=5.9
pybind11
quaternion
qhull=2020.2
qt=5.15.4
scipy=1.8
sphinx_rtd_theme
spyder
tbb
tbb-devel
xerces-c=3.2